* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: #1e1e1e;
  color: #cfcfcf;
  font-size: 16px;
}

body {
  position: relative;
  min-height: 100svh;
  padding: 20px;
}

a {
  text-decoration: none;
  font-weight: 350;
  color: rgb(25, 156, 218);
}

ul {
  counter-reset: section;
  margin-inline: auto;
  width: 30vw;
  min-width: fit-content;

  li {
    counter-increment: section;
    list-style: none;

    + li {
      margin-top: 15px;
      padding-top: 10px;
      border-top: 1px solid color-mix(in srgb, #fff, transparent 70%);
    }

    .title {
      font-size: 17px;
      display: grid;
      grid-template-columns: 30px 1fr;

      &::before {
        content: counter(section, decimal-leading-zero) '.';
      }
    }

    .link-container {
      display: flex;
      align-items: center;
      gap: 10px;

      .separator {
        display: block;
        height: 15px;
        width: 1px;
        background: color-mix(in srgb, #fff, transparent 70%);
      }
    }
  }
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  height: 100%;
}
